# Auto detect text files and perform LF normalization
* text=auto
* text=auto eol=lf

# File type specific diff settings
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Files and directories to ignore during export
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
