# Node and Composer dependencies
/vendor/
/node_modules/

# Debug and error logs
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

# Storage and environment files
storage/*.key
.env
.env.backup
.env.production

# Homestead specific files
Homestead.yaml
Homestead.json

# Vagrant files
/.vagrant

# PHPUnit cache and result files
.phpunit.result.cache
/.phpunit.cache

# Editor and IDE specific files
/.phpactor.json
/.fleet
/.idea
/.vscode

# Build and hot files
/public/build
/public/hot

# Miscellaneous
auth.json
